{%extends '::layout.html.twig'%}

{% block title %}{{ parent () }} - 404{% endblock title %}

{%block body %}
<div class="error">
    <p class="error404">404</p>
    <span class="error404message">Oups...<a href="/"</a>go back to the home page ></span>
</div>
{% endblock%}

