/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/robots.txt
/web/app_dev.php
/web/app.php
/web/.htaccess
/web/css
/web/js
/web/vendor
*~
!gitkeep
