{% extends '::layout.html.twig' %}

{% block title %}{{ parent ( ) }} - {{ 'about'|trans|capitalize }}{% endblock title %}

{% block body %}

    <div class="container">
        <h1>{{ "about"|trans|capitalize }}</h1>
        <p>Kiter.io est un site à destination des pratiquants de kite (kitesurf, buggy, mountainborad, kite, snowkite...). Il a pour but de partager des informations sur les spots disponibles. N’hésitez pas à ajouter de nouvelles informations.</p>
    </div>

{% endblock body %}


