{% extends '::layout.html.twig' %}

{% block title %}{{ parent ( ) }} - {{ "credit"|trans|capitalize }}{% endblock title %}

{% block body %}

    <div class="container">
        <h1>{{ "credit"|trans|capitalize }}</h1>
        <p>Credit photo Homepage : toastbrot81 (Flickr), https://www.flickr.com/photos/toastbrot81/4751931079/in/photostream/</p>
    </div>

{% endblock body %}


