{% extends '::layout.html.twig' %}

{% block title %}{{ parent ( ) }} - {{ "faq"|trans|capitalize }}{% endblock title %}

{% block body %}

    <div class="container">
        <h1>{{ "faq"|trans|capitalize }}</h1>
        <p style="font-weight: bold;">Interger la Map sur mon site web ?</p>
        <p>Ajouter le code suivant :</p>
        <code>&lt;iframe src="http://kiter.remibarbe.com/fr/map/3rd-party/{yourVendorName}" width="600px" height="450px"&gt;&lt;/iframe&gt;</code>
    </div>

{% endblock body %}


