/*
 * Style.css
 */

body {
    background-color : #333333 ;
}

nav {
    margin-bottom : 0px !important;
}

.navbar {
    border-radius : 0px ;
}

.navbar-right > li > a {
    padding-left: 8px ;
    padding-right: 8px;
}

.body {
    background-color : #FFFFFF ;
    padding-bottom : 80px ;
}

footer {
    background-color : #333333 ;
    margin-top : 0px ;
    padding-top : 50px ;
    padding-bottom : 50px;
}

.body > .container {
    min-height : 400px ;
}

