{% extends "remiiiGlobalBundle:Emails:emailLayout.html.twig" %}

{% block title %}{{ parent ( ) }}{% endblock title %}

{% block body %}
    <div class="content">
        <table>
            <tr>
                <td>
                    <h1>Spot proposition - Validation</h1>
                    <p>{{ 'hello'|trans|capitalize }} {{ email }}, many thanks for your contribution. Your updates are available on kiter.io (i.e. http://kiter.remibarbe.com).<p>
                </td>
            </tr>
        </table>
    </div>
{% endblock body %}

